{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My name is Arjun AJ...</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <label for="cod">Cash On Delivery</label>
            <input id="cod" type="radio" name="payment_method" value="cod">
        </div>
        <div>
            <label for="razorpay">RazorPay</label>
            <input id="razorpay" type="radio" name="payment_method" value="razorpay">
        </div>
        <div>
            <label for="wallet">Wallet</label>
            <input id="wallet" type="radio" name="payment_method" value="wallet">
        </div>

        <input type="radio" name="variant" value="Small" data-price="599" />
        <input type="radio" name="variant" value="Large" data-price="899" />

        <p>Price: Rs. <span id="price">599</span></p>

        <button id="actionbtn" type="submit" >Place Order</button>

    </form>
    <form action="" method="post">
        
    </form>


    <button id="toggle">Hide</button>
    <div id="box" style="width: 200px; height: 100px; background: steelblue; color: white; padding: 20px;">
    Toggle me!
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>